* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
.LandingPage {
  background-image: url(../images/main-page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing {
  color: white;
}
