body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fcfcfc;
  text-align: center;
  box-sizing: border-box;
}

.ui.grid {
  width: 100%;
  margin: auto;
}

/* Navbar */
.ui.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #2de488;
}
.logo {
  color: #ed5017;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.ui.menu .item {
  color: #ed5017;
  text-decoration: none;
  font-size: 14px;
}
.nav-links li {
  list-style: none;
}
/* Navbar burger */
.burger div {
  width: 25px;
  height: 5px;
  background-color: #ed5017;
  margin: 5px;
}
.burger {
  display: none;
}

/* .LandingPage*/
.LandingPage {
  background-image: url(./images/main-page.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* sections*/
.container h1.sections {
  text-transform: uppercase;
  text-decoration: underline;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    background-color: #2de488;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
